/**/.DS_Store
*.d.ts
*.js
*.wasm
/node_modules
/dist
*.js.map

!/eslint.config.js
# do not ignore any dependency contents
!/static/dep/**
/static/resources/images
/static/resources/fonts
/static/resources/models